*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/

.DS_Store

metals.h2.db
metals.lock.db
metals.sbt
*.semanticdb
fp1-test.json
fp1.json
bloop.settings.json